
<!doctype html>
<html lang="ru" xml:lang="ru" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <link rel='stylesheet' type='text/css' href='/served_assets/public/jquery.modal-73de48b32f99da1e64719b7a2d6047ba66dc8a0f2c2714edd3afedab52e062b0.css'>
  <meta data-config="{&quot;money_with_currency_format&quot;:{&quot;delimiter&quot;:&quot; &quot;,&quot;separator&quot;:&quot;.&quot;,&quot;format&quot;:&quot;%n %u&quot;,&quot;unit&quot;:&quot;₽&quot;,&quot;show_price_without_cents&quot;:1},&quot;currency_code&quot;:&quot;RUR&quot;,&quot;facebook&quot;:{&quot;pixelActive&quot;:false,&quot;currency_code&quot;:&quot;RUB&quot;,&quot;use_variants&quot;:null},&quot;new_ya_metrika&quot;:false,&quot;ecommerce_data_container&quot;:&quot;dataLayer&quot;,&quot;common_js_version&quot;:&quot;v2&quot;,&quot;vue_ui_version&quot;:null,&quot;account_id&quot;:533563,&quot;hide_items_out_of_stock&quot;:false,&quot;enable_comparison&quot;:true,&quot;locale&quot;:&quot;ru&quot;,&quot;client_group&quot;:null,&quot;consent_to_personal_data&quot;:{&quot;active&quot;:true,&quot;obligatory&quot;:true,&quot;description&quot;:&quot;Настоящим подтверждаю, что я ознакомлен и согласен с условиями \u003ca href=&#39;/page/oferta&#39; target=&#39;_blank&#39;\u003eоферты и политики конфиденциальности\u003c/a\u003e.&quot;},&quot;recaptcha_key&quot;:&quot;6Lc0T0YUAAAAAAVNiH-_bnSC4E-YHMFTeYOqZyRx&quot;}" name="shop-config" content="" />
  <meta name='js-evnvironment' content='production' />
  <meta name='default-locale' content='ru' />
  <meta name='insales-redefined-api-methods' content="[]" />
  <script src="/packs/shop_bundle-fc3d509e9f0ab08a7f47.js"></script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta name="robots" content="index, follow">
  {% include "system_head" %}

<meta name="description" content="DotStore">
<meta name="keywords" content="DotStore">
<meta property="og:type" content="website">


<link href="https://assets3.insales.ru/assets/1/3784/1142472/1549334003/favicon.png" rel="shortcut icon" type="image/png" sizes="16x16">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&amp;subset=cyrillic" rel="stylesheet">

<link href="{{'theme.css' | asset_url}}" rel="stylesheet">
<meta name="theme-color" content="#0bb648">
<meta name="format-detection" content="telephone=no">
<meta name="cmsmagazine" content="325a8bc2477444d381d10a2ed1775a4d">

  <link rel="alternate" type="application/atom+xml" title="Статьи — DotStore" href="http://dotstore.myinsales.ru/blogs/blog.atom">


</head>
	<body class="layout layout--full">
		<div class="layout-page">
			<div id="insales-section-header" class="insales-section insales-section-header">
	<header>
		<!--noindex-->
		<div class="header-scheme-01 d-none d-lg-block">
			<div class="header-panel">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-auto">
							<div class="contacts contacts--header">
								<ul class="contacts-items list-unstyled">
									<li class="contacts-item">
										<a href="tel:{{blocks.phone.content | strip_html}}"><span class="far fa-phone" data-fa-transform="flip-h"></span>{{blocks.phone.content | strip_html}}</a>
									</li><li class="contacts-item">
										<a href="mailto:{{blocks.email.content | strip_html}}"><span class="far fa-envelope"></span>{{blocks.email.content | strip_html}}</a>
									</li>
								</ul>
							</div>
						</div>


							<div class="col-auto">
								<div class="messengers messengers--header">
	                 <ul class="messengers-items list-unstyled">
                     {% if blocks.vkontakte %}
		                   <li class="messengers-item messengers-item--vk">
                         <a href="{{blocks.vkontakte.content | strip_html}}" rel="noopener noreferrer nofollow" target="_blank">
                           <span class="fab fa-vk"></span>
                         </a>
                       </li>
                       {% endif %}
                       {% if blocks.telegram %}
                       <li class="messengers-item messengers-item--telegram-plane">
                         <a href="{{blocks.telegram.content | strip_html}}" rel="noopener noreferrer nofollow" target="_blank">
                           <span class="fab fa-telegram-plane"></span>
                         </a>
                       </li>
                       {% endif %}
                       {% if blocks.viber %}
                       <li class="messengers-item messengers-item--viber">
                         <a href="{{blocks.viber.content | strip_html}}" rel="noopener noreferrer nofollow" target="_blank">
                           <span class="fab fa-viber"></span>
                         </a>
                       </li>
                       {% endif %}
                       {% if blocks.whatsapp %}
                       <li class="messengers-item messengers-item--whatsapp">
                         <a href="{{blocks.whatsapp.content | strip_html}}" rel="noopener noreferrer nofollow" target="_blank">
                           <span class="fab fa-whatsapp"></span>
                         </a>
                       </li>
                       {% endif %}
	                 </ul>
                </div>
							</div>



							<div class="col text-right">



<div class="social social--header">
  {% if block_lists.social-networks %}
	<ul class="social-items list-unstyled">
    {% if blocks.vkontakte-social %}
    <li class="social-item social-item--vk">
      <a href="http://vk.com/" rel="noopener noreferrer nofollow" target="_blank">
        <span class="fab fa-vk"></span>
      </a>
    </li>
    {% endif %}
    {% if blocks.facebook-social %}
    <li class="social-item social-item--facebook-f">
      <a href="http://facebook.com/" rel="noopener noreferrer nofollow" target="_blank">
        <span class="fab fa-facebook-f"></span>
      </a>
    </li>
    {% endif %}
    {% if blocks.instagram-social %}
    <li class="social-item social-item--instagram">
      <a href="http://instagram.com/" rel="noopener noreferrer nofollow" target="_blank">
        <span class="fab fa-instagram"></span>
      </a>
    </li>
    {% endif %}
    {% if blocks.odnoklassniki-social %}
    <li class="social-item social-item--odnoklassniki">
      <a href="http://ok.ru/" rel="noopener noreferrer nofollow" target="_blank">
        <span class="fab fa-odnoklassniki"></span>
      </a>
    </li>
    {% endif %}
    {% if blocks.youtube-social %}
    <li class="social-item social-item--youtube">
      <a href="http://youtube.com/" rel="noopener noreferrer nofollow" target="_blank">
        <span class="fab fa-youtube"></span>
      </a>
    </li>
    {% endif %}
    {% if blocks.twitter-social %}
    <li class="social-item social-item--twitter">
      <a href="http://twitter.com/" rel="noopener noreferrer nofollow" target="_blank">
        <span class="fab fa-twitter"></span>
      </a>
    </li>
    {% endif %}
    {% if blocks.google-plus-social %}
    <li class="social-item social-item--google-plus-g">
      <a href="https://plus.google.com/" rel="noopener noreferrer nofollow" target="_blank">
        <span class="fab fa-google-plus-g"></span>
      </a>
    </li>
    {% endif %}
    {% if blocks.pinterest-social %}
    <li class="social-item social-item--pinterest">
      <a href="https://ru.pinterest.com/" rel="noopener noreferrer nofollow" target="_blank">
        <span class="fab fa-pinterest"></span>
      </a>
    </li>
    {% endif %}
	</ul>
  {% endif %}
</div>
							</div>

					</div>
				</div>
			</div>
		</div>
		<!--/noindex-->
		<!--noindex-->
		<div class="header-scheme-02">
			<div class="header-main">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-12 col-sm col-md col-lg-auto text-center text-lg-left">
							<a href="/" class="logo">
                {% if blocks.logotip %}
                <img src="{{blocks.logotip.image}}" alt="{{title}}" width="175" class="img-fluid">
                {% endif %}
              </a>
						</div>
						<div class="col d-none d-lg-block">
							<div class="search search--header">
								<form action="/search" method="get" class="search-form">

									<input type="search" name="q" class="search-input js-search-input" placeholder="Поиск по каталогу&hellip;" autocomplete="off"
                  {% if search.performed? %}
                    value="{{ search.query }}"
                  {% endif %}
                   required>
									<button type="submit" class="search-button"><span class="far fa-search"></span></button>
									<div class="search-results js-search-results"></div>
								</form>
							</div>
						</div>
						<div class="col-12 col-lg-auto">
							<div class="user_icons js-clone" data-clone-target="js-user_icons-clone">
								<ul class="user_icons-items list-unstyled d-flex d-lg-block">
									<li class="user_icons-item user_icons-item-menu d-inline-block d-lg-none js-user_icons-item">
										<button class="user_icons-icon user_icons-icon-menu js-user_icons-icon-menu">
											<span class="far fa-bars"></span>
										</button>
										<div class="user_icons-popup">
											<div class="popup js-popup-menu overflow-hidden">
												<div class="popup-scroll js-popup-scroll">
													<div class="popup-title">Меню<button class="button button--empty button--icon popup-close js-popup-close"><span class="far fa-times fa-lg"></span></button></div>
													<div class="popup-content popup-content-menu popup-content-search">
														<div class="search search--popup">
															<form action="/search" method="get" class="search-form">

																<input type="search" name="q" class="search-input" placeholder="Поиск по каталогу&hellip;" autocomplete="off" required>
																<button type="submit" class="search-button"><span class="far fa-search"></span></button>
															</form>
														</div>
													</div>

														<ul class="popup-content popup-content-menu js-popup-content-menu"></ul>

													<ul class="popup-content popup-content-menu popup-content-links list-unstyled">
														<li class="popup-content-link"><a href="/page/about-us">О компании</a></li><li class="popup-content-link"><a href="/page/contacts">Контакты</a></li><li class="popup-content-link"><a href="/page/delivery">Доставка</a></li><li class="popup-content-link"><a href="/page/payment">Оплата</a></li><li class="popup-content-link"><a href="/blogs/blog">Статьи</a></li><li class="popup-content-link"><a href="/page/feedback">Обратная связь</a></li><li class="popup-content-link"><a href="/page/oferta">Оферта</a></li><li class="popup-content-link"><a href="/page/faq">Часто задаваемые вопросы</a></li><li class="popup-content-link"><a href="/page/exchange">Условия обмена и возврата</a></li>
													</ul>
													<div class="popup-content popup-content-contacts">

															<div class="popup-content-contact"><a href="tel:+7 (908) 250-99-44"><span class="far fa-phone" data-fa-transform="flip-h"></span>+7 (908) 250-99-44</a></div>


															<div class="popup-content-contact"><a href="mailto:support@prosales.studio"><span class="far fa-envelope"></span>support@prosales.studio</a></div>



															<div class="popup-content-contact">
																<div class="messengers messengers--header">
	<ul class="messengers-items list-unstyled">
		<li class="messengers-item messengers-item--vk"><a href="https://vk.me/id328735794" rel="noopener noreferrer nofollow" target="_blank"><span class="fab fa-vk"></span></a></li><li class="messengers-item messengers-item--telegram-plane"><a href="tg://resolve?domain=atakishiev" rel="noopener noreferrer nofollow" target="_blank"><span class="fab fa-telegram-plane"></span></a></li><li class="messengers-item messengers-item--viber"><a href="viber://add?number=79082509944" rel="noopener noreferrer nofollow" target="_blank"><span class="fab fa-viber"></span></a></li><li class="messengers-item messengers-item--whatsapp"><a href="https://api.whatsapp.com/send?phone=79082509944" rel="noopener noreferrer nofollow" target="_blank"><span class="fab fa-whatsapp"></span></a></li>
	</ul>
</div>
															</div>

													</div>
												</div>
											</div>
											<div class="popup-shade js-popup-close"></div>
										</div>
									</li><li class="user_icons-item js-user_icons-item">
										<a href="/compares" class="user_icons-icon js-user_icons-icon-compares">
											<span class="far fa-align-right" data-fa-transform="rotate-90"></span>
											<span class="bage bage-compares js-bage-compares"></span>
										</a>
										<div class="user_icons-popup">
											<div class="popup">
												<div class="popup-title">Сравнение<button class="button button--empty button--icon popup-close js-popup-close"><span class="far fa-times fa-lg"></span></button></div>
												<div class="js-popup-compares"></div>
											</div>
											<div class="popup-shade js-popup-close"></div>
										</div>
									</li><li class="user_icons-item js-user_icons-item">
										<a href="/page/favorites" class="user_icons-icon js-user_icons-icon-favorites">
											<span class="far fa-heart"></span>
											<span class="bage bage-favorites js-bage-favorites"></span>
										</a>
										<div class="user_icons-popup">
											<div class="popup">
												<div class="popup-title">Избранное<button class="button button--empty button--icon popup-close js-popup-close"><span class="far fa-times fa-lg"></span></button></div>
												<div class="js-popup-favorites"></div>
											</div>
											<div class="popup-shade js-popup-close"></div>
										</div>
									</li><li class="user_icons-item js-user_icons-item">
										<a href="/cart_items" class="user_icons-icon js-user_icons-icon-cart">
											<span class="far fa-shopping-cart"></span>
											<span class="bage bage-cart js-bage-cart"></span>
										</a>
										<div class="user_icons-popup">
											<div class="popup">
												<div class="popup-title">Корзина<button class="button button--empty button--icon popup-close js-popup-close"><span class="far fa-times fa-lg"></span></button></div>
												<div class="js-popup-cart"></div>
											</div>
											<div class="popup-shade js-popup-close"></div>
										</div>
									</li><li class="user_icons-item js-user_icons-item">
										<a href="/client_account/login" class="user_icons-icon js-user_icons-icon-client">
											<span class="far fa-user"></span>
										</a>
										<div class="user_icons-popup">
											<div class="popup popup-client_new">
												<div class="popup-title">Личный кабинет<button class="button button--empty button--icon popup-close js-popup-close"><span class="far fa-times fa-lg"></span></button></div>
												<div class="js-popup-client">

														<div class="popup--empty text-center">
															<span class="far fa-user fa-3x"></span>
															<div class="dropdown_products-action"><div class="row"><div class="col-12 col-lg-6"><a href="/client_account/login" class="button button--primary button--block button--small">Авторизация</a></div><div class="col-12 col-lg-6"><a href="/client_account/contacts/new" class="button button--secondary button--block button--small">Регистрация</a></div></div></div>
														</div>

												</div>
											</div>
											<div class="popup-shade js-popup-close"></div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/noindex-->
		<div class="header-scheme-03 d-none d-lg-block">
			<div class="header-menu js-header-menu">
				<div class="container">
					<div class="row">
						<div class="col">
							<nav class="nav">
								<ul class="nav-items list-unstyled js-nav-items is-overflow">
									<li class="nav-item nav-item--collections js-nav-item">
                    <a href="/collection/all" class="hamburger-trigger js-nav-collections-trigger" data-target="hamburger">
                      <span class="hamburger hamburger--arrow-down"><span></span><span></span><span></span></span>
                      Каталог товаров
                    </a>
                    </li>
                    {% assign menu = linklists.main-menu.links %}
                      {% for link in menu %}
                        <li class="nav-item js-nav-item">
                          <a href="{{ link.url }}">
                            {{ link.title }}
                          </a>
                        </li>
                      {% endfor %}
                    <li class="nav-item nav-item--dropdown js-nav-item--dropdown d-none">
                      <span class="far fa-ellipsis-h fa-lg"></span>
                      <div class="user_icons-popup">
                        <div class="popup">
                          <ul class="list-unstyled js-popup-nav"></ul>
                        </div>
                      </div>
                    </li>
								</ul>
							</nav>



              {% if collections %}
									<nav class="nav-collections js-nav-collections js-nav-collections-trigger js-clone" data-target="dorpdown" data-clone-target="js-nav-sidebar-clone">
                    <ul class="list-unstyled">
                      {% for collection in collections %}
                          <li data-collection-id="{{collection.id}}">
                            <a href="{{ collection.url }}" {% if collection.subcollections.size > 0 %} class="nav-collections-toggle js-nav-collections-toggle nav-collections-toggle--next" data-type="next" data-target="{{collection.id}}" {% endif %}>
                              {{ collection.title }}
                              {% if collection.subcollections.size > 0 %} <span class="nav-arrow-toggle js-nav-arrow-toggle"><svg class="svg-inline--fa fa-chevron-right fa-w-8" aria-hidden="true" data-prefix="far" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M24.707 38.101L4.908 57.899c-4.686 4.686-4.686 12.284 0 16.971L185.607 256 4.908 437.13c-4.686 4.686-4.686 12.284 0 16.971L24.707 473.9c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L41.678 38.101c-4.687-4.687-12.285-4.687-16.971 0z"></path></svg><!-- <span class="far fa-chevron-right"></span>--></span> {% endif %}
                            </a>
                            {% if collection.subcollections.size > 0 %}
                              <ul class="list-unstyled">
                                {% for collection in collection.subcollections %}
                                    <li data-collection-id="{{collection.id}}">
                                      <a href="{{ collection.url }}" {% if collection.subcollections.size > 0 %} class="nav-collections-toggle js-nav-collections-toggle nav-collections-toggle--next" data-type="next" data-target="{{collection.id}}" {% endif %}>
                                        {{ collection.title }}
                                        {% if collection.subcollections.size > 0 %} <span class="nav-arrow-toggle js-nav-arrow-toggle"><svg class="svg-inline--fa fa-chevron-right fa-w-8" aria-hidden="true" data-prefix="far" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M24.707 38.101L4.908 57.899c-4.686 4.686-4.686 12.284 0 16.971L185.607 256 4.908 437.13c-4.686 4.686-4.686 12.284 0 16.971L24.707 473.9c4.686 4.686 12.284 4.686 16.971 0l209.414-209.414c4.686-4.686 4.686-12.284 0-16.971L41.678 38.101c-4.687-4.687-12.285-4.687-16.971 0z"></path></svg><!-- <span class="far fa-chevron-right"></span>--></span> {% endif %}
                                      </a>
                                      {% if collection.subcollections.size > 0 %}
                                      <ul class="list-unstyled">
                                        {% for collection in collection.subcollections %}
                                            <li data-collection-id="{{collection.id}}">
                                              <a href="{{ collection.url }}" {% if collection.subcollections.size > 0 %} class="nav-collections-toggle js-nav-collections-toggle nav-collections-toggle--next" data-type="next" data-target="{{collection.id}}" {% endif %}>{{ collection.title }}</a>
                                            </li>
                                         {% endfor %}
                                      </ul>
                                      {% endif %}
                                    </li>
                                 {% endfor %}
                              </ul>
                            {% endif %}
                          </li>
                       {% endfor %}
                    </ul>
                  </nav>
              {% endif %}


						</div>
						<div class="col col-auto align-self-center">
							<div class="user_icons user_icons-clone js-user_icons-clone"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
</div>


{{ content_for_layout }}


<div id="insales-section-benefits--bottom" class="insales-section insales-section-benefits insales-section-benefits--bottom d-block d-lg-none">
  <div class="benefits">
    <div class="container">
      <div class="row">



          <div class="col-12 col-md-6 col-lg-4">
            <div class="benefits-item">
              <div class="row">
                <div class="col col-auto">
                  <img src="https://static-eu.insales.ru/files/1/4250/5591194/original/benefit-1.png" class="benefits-item-image img-fluid" alt="БЕСПЛАТНАЯ ДОСТАВКА">
                </div>
                <div class="col">
                  <div class="benefits-item-title">БЕСПЛАТНАЯ ДОСТАВКА</div>
                  <div class="benefits-item-description">Бесплатная доставка по&nbsp;России при&nbsp;сумме заказа от&nbsp;3000&nbsp;руб.</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4">
            <div class="benefits-item">
              <div class="row">
                <div class="col col-auto">
                  <img src="https://static-eu.insales.ru/files/1/4251/5591195/original/benefit-2.png" class="benefits-item-image img-fluid" alt="ПОДДЕРЖКА 24/7">
                </div>
                <div class="col">
                  <div class="benefits-item-title">ПОДДЕРЖКА 24/7</div>
                  <div class="benefits-item-description">На&nbsp;связи с&nbsp;клиентами 24&nbsp;часа в&nbsp;сутки, 7&nbsp;дней в&nbsp;неделю</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4">
            <div class="benefits-item">
              <div class="row">
                <div class="col col-auto">
                  <img src="https://static-eu.insales.ru/files/1/4252/5591196/original/benefit-3.png" class="benefits-item-image img-fluid" alt="30 ДНЕЙ НА ВОЗВРАТ">
                </div>
                <div class="col">
                  <div class="benefits-item-title">30 ДНЕЙ НА ВОЗВРАТ</div>
                  <div class="benefits-item-description">Простой возврат товара в&nbsp;течение 30&nbsp;дней с&nbsp;даты покупки</div>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>

<div id="insales-section-footer" class="insales-section insales-section-footer">
<footer>

    <div class="footer-scheme-01">
      <form action="#" class="footer-subscribe js-footer-subscribe">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12 col-md-9 col-lg-6">

                <div class="footer-subscribe-title">Новостная рассылка</div>

              <div class="footer-subscribe-form">
                <div class="row align-items-center no-gutters">
                  <div class="col">
                    <input type="email" name="email" class="input input--white input--block" placeholder="Адрес электронной почты" required>
                  </div>
                  <div class="col-auto">
                    <button type="submit" class="button button--primary button--primary--inverse">Подписаться</button>
                  </div>
                </div>
              </div>

                <div class="footer-subscribe-policy"><p>Нажимая на кнопку &laquo;Подписаться&raquo; вы принимаете условия <a rel="noopener noreferrer" href="/page/oferta" target="_blank">Публичной оферты</a>.</p></div>

            </div>

              <div class="col-12 col-md-3 col-lg-6">
                <div class="footer-subscribe-description"><p>Подпишитесь на рассылку, чтобы быть в курсе наших новых поступлений, акций и скидок.</p></div>
              </div>

          </div>
        </div>
      </form>
    </div>

  <div class="footer-scheme-02">
    <div class="footer-menu">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-12 col-md-6 col-lg-3">
            <div class="footer-menu-block" itemscope itemtype="http://schema.org/Organization">
              <meta itemprop="name" content="DotStore">
              <div class="footer-menu-title"><a href="http://dotstore.myinsales.ru" class="logo" itemprop="url"><img src="https://assets3.insales.ru/assets/1/3784/1142472/1549334003/logo.png" alt="DotStore" width="175" class="img-fluid" itemprop="logo"></a></div>
              <ul class="footer-menu-items list-unstyled">
                <li class="footer-menu-item footer-menu-item--phone"><a href="tel:+7 (908) 250-99-44" itemprop="telephone">+7 (908) 250-99-44</a><div><span class="js-messages" data-target="callback" data-type="form">Заказать звонок</span></div></li>
                <li class="footer-menu-item footer-menu-item--icon footer-menu-item--email"><span class="far fa-envelope fa-fw"></span><a href="mailto:support@prosales.studio" itemprop="email">support@prosales.studio</a></li>

                  <li class="footer-menu-item footer-menu-item--icon footer-menu-item--address"><span class="far fa-map-marker fa-fw"></span><p itemscope="" itemtype="http://schema.org/PostalAddress" itemprop="address"><span itemprop="postalCode">127427</span>, <span itemprop="addressCountry">Россия</span>, <span itemprop="addressLocality">Москва</span>, <span itemprop="streetAddress">ул. Академика Королева, 12</span></p></li>


                  <li class="footer-menu-item footer-menu-item--icon footer-menu-item--hours"><span class="far fa-clock fa-fw"></span><p>7 дней в неделю с 10 до 18 часов</p></li>


                  <li class="footer-menu-item footer-menu-item--icon footer-menu-item--requisites"><span class="far fa-address-card fa-fw"></span><p>ИП Иванов Иван Иванович<br />ИНН: 123658954756<br />ОГРН: 562145896523154</p></li>



                  <!--noindex-->
                  <li class="footer-menu-item footer-menu-item--messengers"><div class="messengers messengers--footer">
<ul class="messengers-items list-unstyled">
  <li class="messengers-item messengers-item--vk"><a href="https://vk.me/id328735794" rel="noopener noreferrer nofollow" target="_blank"><span class="fab fa-vk"></span></a></li><li class="messengers-item messengers-item--telegram-plane"><a href="tg://resolve?domain=atakishiev" rel="noopener noreferrer nofollow" target="_blank"><span class="fab fa-telegram-plane"></span></a></li><li class="messengers-item messengers-item--viber"><a href="viber://add?number=79082509944" rel="noopener noreferrer nofollow" target="_blank"><span class="fab fa-viber"></span></a></li><li class="messengers-item messengers-item--whatsapp"><a href="https://api.whatsapp.com/send?phone=79082509944" rel="noopener noreferrer nofollow" target="_blank"><span class="fab fa-whatsapp"></span></a></li>
</ul>
</div></li>
                  <!--/noindex-->

              </ul>
            </div>
          </div>

            <div class="col-12 col-md-6 col-lg-3">
              <div class="footer-menu-block">
                <div class="footer-menu-title">Каталог товаров</div>
                <ul class="footer-menu-items list-unstyled">

                    <li class="footer-menu-item"><a href="/collection/telefony">Телефоны</a></li>

                    <li class="footer-menu-item"><a href="/collection/noutbuki-planshety-kompyutery">Ноутбуки, планшеты, компьютеры</a></li>

                    <li class="footer-menu-item"><a href="/collection/katalog-8858d1">Наушники и аудио</a></li>

                    <li class="footer-menu-item"><a href="/collection/katalog-3bea16">Фото и видео</a></li>

                    <li class="footer-menu-item"><a href="/collection/katalog-bec955">Гаджеты и авто</a></li>

                    <li class="footer-menu-item"><a href="/collection/aksessuary">Аксессуары</a></li>

                    <li class="footer-menu-item"><a href="/collection/tehnika-dlya-doma">Техника для дома</a></li>

                    <li class="footer-menu-item"><a href="/collection/igrushki">Игрушки</a></li>

                    <li class="footer-menu-item"><a href="/collection/katalog-839ec9">Товары для животных</a></li>

                    <li class="footer-menu-item"><a href="/collection/raznoe">Разное</a></li>

                    <li class="footer-menu-item"><a href="/collection/brendy">Бренды</a></li>

                </ul>
              </div>
            </div>


            <div class="col-12 col-md-6 col-lg-3">
              <div class="footer-menu-block">
                <div class="footer-menu-title">Клиентам</div>
                <ul class="footer-menu-items list-unstyled">

                    <li class="footer-menu-item"><a href="/page/faq">Часто задаваемые вопросы</a></li>

                    <li class="footer-menu-item"><a href="/page/oferta">Политика конфиденциальности и оферта</a></li>

                    <li class="footer-menu-item"><a href="/page/agreement">Пользовательское соглашение</a></li>

                    <li class="footer-menu-item"><a href="/page/exchange">Условия обмена и возврата</a></li>

                    <li class="footer-menu-item"><a href="/blogs/blog">Статьи</a></li>

                    <li class="footer-menu-item"><a href="/page/feedback">Обратная связь</a></li>

                    <li class="footer-menu-item"><a href="/page/delivery">Доставка</a></li>

                    <li class="footer-menu-item"><a href="/page/payment">Оплата</a></li>

                    <li class="footer-menu-item"><a href="/page/contacts">Контакты</a></li>

                </ul>
              </div>
            </div>

          <div class="col-12 col-md-6 col-lg-3">
            <div class="footer-menu-block">

                <div class="footer-menu-title">О компании</div>
                <ul class="footer-menu-items list-unstyled">
                  <li class="footer-menu-item"><p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p></li>
                </ul>



                <!--noindex-->
                <div class="footer-menu-title footer-menu-title--second">Мы в социальных сетях</div>
                <ul class="footer-menu-items list-unstyled">
                  <li class="footer-menu-item footer-menu-item--social">


<div class="social social--footer">
<ul class="social-items list-unstyled">
  <li class="social-item social-item--vk"><a href="http://vk.com/" rel="noopener noreferrer nofollow" target="_blank"><span class="fab fa-vk"></span></a></li><li class="social-item social-item--facebook-f"><a href="http://facebook.com/" rel="noopener noreferrer nofollow" target="_blank"><span class="fab fa-facebook-f"></span></a></li><li class="social-item social-item--instagram"><a href="http://instagram.com/" rel="noopener noreferrer nofollow" target="_blank"><span class="fab fa-instagram"></span></a></li><li class="social-item social-item--odnoklassniki"><a href="http://ok.ru/" rel="noopener noreferrer nofollow" target="_blank"><span class="fab fa-odnoklassniki"></span></a></li><li class="social-item social-item--youtube"><a href="http://youtube.com/" rel="noopener noreferrer nofollow" target="_blank"><span class="fab fa-youtube"></span></a></li><li class="social-item social-item--twitter"><a href="http://twitter.com/" rel="noopener noreferrer nofollow" target="_blank"><span class="fab fa-twitter"></span></a></li><li class="social-item social-item--pinterest"><a href="https://ru.pinterest.com/" rel="noopener noreferrer nofollow" target="_blank"><span class="fab fa-pinterest"></span></a></li>
</ul>
</div></li>
                </ul>
                <!--/noindex-->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-scheme-03">
    <div class="footer-copyright">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-lg-6">
            <div class="text-center text-lg-left">2019 &copy; DotStore. <a href="/page/sitemap">Карта&nbsp;сайта</a></div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="text-center text-lg-right">
              <ul class="payments list-unstyled">
                <li><img src="https://static-eu.insales.ru/files/1/3474/5541266/original/payment-paypal.png" alt="PayPal"></li><li><img src="https://static-eu.insales.ru/files/1/3475/5541267/original/payment-visa.png" alt="Visa"></li><li><img src="https://static-eu.insales.ru/files/1/3473/5541265/original/payment-mastercard.png" alt="MasterCard"></li><li><img src="https://static-eu.insales.ru/files/1/6660/5544452/original/payment-mir.png" alt="МИР"></li><li><img src="https://static-eu.insales.ru/files/1/3477/5541269/original/payment-yandex.png" alt="Яндекс.Деньги"></li><li><img src="https://static-eu.insales.ru/files/1/3472/5541264/original/payment-qiwi.png" alt="QIWI"></li><li><img src="https://static-eu.insales.ru/files/1/3476/5541268/original/payment-webmoney.png" alt="WebMoney"></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
</div>
<div class="d-none d-sm-block"><button class="scroll-top js-scroll-top"><span class="far fa-chevron-up"></span></button></div>
    <script type="text/template" hidden data-template-id="popup-empty">
<div class="popup--empty text-center">
  <%= popup.icon %>
  <%= popup.title %>
</div>
</script>
<script type="text/template" hidden data-template-id="popup-cart">
<% _.forEach(obj.order_lines, function(item){ %>
  <div class="dropdown_product" data-product-id="<%= item.product.id %>" data-item-id="<%= item.id %>">
    <div class="row no-gutters">
      <div class="col-2">
        <a href="<%= item.product.url %>" class="dropdown_product-thumb dropdown_product-thumb--1x1 dropdown_product-thumb--contain">
          <span class="dropdown_product-thumb-item" style="background-image: url(<%= item.first_image.thumb_url %>);"></span>
        </a>
      </div>
      <div class="col">
        <div class="dropdown_product-title">
          <a href="<%= item.product.url %>"><%= item.title %></a>
        </div>
        <div class="dropdown_product-prices">
          <%= item.quantity %> &times; <%= Shop.money.format(item.sale_price) %>
        </div>
      </div>
      <div class="col-auto">
        <button type="button" class="button button--empty button--icon button--remove" data-item-delete="<%= item.id %>"><span class="far fa-trash fa-lg"></span></button>
      </div>
    </div>
  </div>
<% }); %>
</script>
<script type="text/template" hidden data-template-id="popup-compares">
<% _.forEach(obj.products, function(item){ %>
  <div class="dropdown_product" data-product-id="<%= item.id %>">
    <div class="row no-gutters">
      <div class="col-2">
        <a href="<%= item.url %>" class="dropdown_product-thumb dropdown_product-thumb--1x1 dropdown_product-thumb--contain">
          <span class="dropdown_product-thumb-item" style="background-image: url(<%= item.first_image.thumb_url %>);"></span>
        </a>
      </div>
      <div class="col">
        <div class="dropdown_product-title">
          <a href="<%= item.url %>"><%= item.title %></a>
        </div>
        <div class="dropdown_product-prices">
          <%= Shop.money.format(item.variants[0].price) %>
        </div>
      </div>
      <div class="col-auto">
        <button type="button" class="button button--empty button--icon button--remove" data-compare-delete="<%= item.id %>"><span class="far fa-trash fa-lg"></span></button>
      </div>
    </div>
  </div>
<% }); %>
</script>
<script type="text/template" hidden data-template-id="popup-favorites">
<% _.forEach(obj.products, function(item){ %>
  <div class="dropdown_product" data-product-id="<%= item.id %>">
    <div class="row no-gutters">
      <div class="col-2">
        <a href="<%= item.url %>" class="dropdown_product-thumb dropdown_product-thumb--1x1 dropdown_product-thumb--contain">
          <span class="dropdown_product-thumb-item" style="background-image: url(<%= item.first_image.thumb_url %>);"></span>
        </a>
      </div>
      <div class="col">
        <div class="dropdown_product-title">
          <a href="<%= item.url %>"><%= item.title %></a>
        </div>
        <div class="dropdown_product-prices">
          <%= Shop.money.format(item.variants[0].price) %>
        </div>
      </div>
      <div class="col-auto">
        <button type="button" class="button button--empty button--icon button--remove" data-favorites-remove="<%= item.id %>"><span class="far fa-trash fa-lg"></span></button>
      </div>
    </div>
  </div>
<% }); %>
</script>
<script type="text/template" hidden data-template-id="product-card">
<% _.forEach(obj.products, function(item){ %>
  <div class="col-6 col-sm-6 col-md-4 col-lg-3">
    <div class="product_card product_card--shadow">
      <form action="/cart_items" method="post" data-product-id="<%= item.id %>">
        <input type="hidden" name="variant_id" value="<%= item.variants[0].id %>">
        <input type="hidden" name="quantity" value="1">
        <a href="<%= item.url %>" class="product_card-thumb product_card-thumb--1x1 product_card-thumb--contain">
          <span class="product_card-thumb-item" style="background-image: url(<%= item.first_image.large_url %>);"></span>
        </a>
        <div class="product_card-title">
          <a href="<%= item.url %>"><%= item.title %></a>
        </div>
        <div class="product_card-prices">
          <span class="product_card-price"><%= Shop.money.format(item.price) %></span>
        </div>
        <div class="product_card-add">
          <div class="row no-gutters">
            <div class="col">
              <% if (item.available) { %>
                <% if (item.variants.length > 1) { %>
                  <a href="<%= item.url %>" class="button button--icon button--small button--empty button--empty--inverse"><span class="far fa-shopping-cart fa-lg"></span><span>Выбрать</span></a>
                <% } else{ %>
                  <button type="submit" class="button button--icon button--small button--empty button--empty--inverse" data-item-add><span class="far fa-shopping-cart fa-lg"></span><span>В корзину</span></button>
                <% } %>
              <% } else{ %>
                <button type="button" class="button button--empty button--small button--disabled"><span>Распродано</span></button>
              <% } %>
            </div>

              <div class="col col-auto">
                <button type="button" class="button button--empty button--small button--icon button--compares" data-compare-add="<%= item.id %>"><span class="far fa-align-right fa-lg" data-fa-transform="rotate-90"></span></button><button type="button" class="button button--empty button--small button--icon button--favorites" data-favorites-trigger="<%= item.id %>"><span class="far fa-heart fa-lg"></span></button>
              </div>

          </div>
        </div>
      </form>
    </div>
  </div>
<% }); %>
</script>
<script type="text/template" hidden data-template-id="product-card-recently">
<% _.forEach(obj, function(item){ %>
  <div class="products-slider-item">
    <div class="product_card product_card--shadow">
      <form action="/cart_items" method="post" data-product-id="<%= item.id %>">
        <input type="hidden" name="variant_id" value="<%= item.variants[0].id %>">
        <input type="hidden" name="quantity" value="1">
        <a href="<%= item.url %>" class="product_card-thumb product_card-thumb--1x1 product_card-thumb--contain">
          <span class="product_card-thumb-item" style="background-image: url(<%= item.first_image.large_url %>);"></span>
        </a>
        <div class="product_card-title">
          <a href="<%= item.url %>"><%= item.title %></a>
        </div>
        <div class="product_card-prices">
          <span class="product_card-price"><%= Shop.money.format(item.variants[0].price) %></span>
        </div>
        <div class="product_card-add">
          <div class="row no-gutters">
            <div class="col">
              <% if (item.available) { %>
                <% if (item.variants.length > 1) { %>
                  <a href="<%= item.url %>" class="button button--icon button--small button--empty button--empty--inverse"><span class="far fa-shopping-cart fa-lg"></span><span>Выбрать</span></a>
                <% } else{ %>
                  <button type="submit" class="button button--icon button--small button--empty button--empty--inverse" data-item-add><span class="far fa-shopping-cart fa-lg"></span><span>В корзину</span></button>
                <% } %>
              <% } else{ %>
                <button type="button" class="button button--empty button--small button--disabled"><span>Распродано</span></button>
              <% } %>
            </div>

              <div class="col col-auto">
                <button type="button" class="button button--empty button--small button--icon button--compares" data-compare-add="<%= item.id %>"><span class="far fa-align-right fa-lg" data-fa-transform="rotate-90"></span></button><button type="button" class="button button--empty button--small button--icon button--favorites" data-favorites-trigger="<%= item.id %>"><span class="far fa-heart fa-lg"></span></button>
              </div>

          </div>
        </div>
      </form>
    </div>
  </div>
<% }); %>
</script>
<script type="text/template" hidden data-template-id="message-cart">
<div class="message-cart-product">
  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="message-cart-product-image product_card">
        <span class="product_card-thumb product_card-thumb--1x1 product_card-thumb--contain">
          <span class="product_card-thumb-item" style="background-image: url(<%= obj.item.first_image.large_url %>);"></span>
        </span>
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <div class="message-cart-product-title"><%= obj.item.title %></div>
      <div class="message-cart-product-quantity"><%= obj.item_quantity %> &times; <%= Shop.money.format(obj.item.sale_price) %></div>
      <div class="message-cart-total">В вашей корзине<br><span><%= obj.data.items_count %> <%= declOfNum(obj.data.items_count) %></span> на сумму <span><%= Shop.money.format(obj.data.items_price) %></span></div>
      <div class="message-cart-buttons">
        <a href="/cart_items" class="button button--primary button--block button--large">Открыть корзину</a>
        <a href="/new_order" class="button button--secondary button--block button--large">Оформить заказ</a>
        <button class="button button--empty button--info" data-fancybox-close><span>Продолжить покупки</span></button>
      </div>
    </div>
  </div>
</div>
</script>
<script type="text/template" data-template-id="option-select">
<div class="<%= classes.option %> is-select">
  <div class="<%= classes.label %>"><%= title %>: <span class="option-label-value"><% _.forEach(values, function (value){ %><% if (option.selected == value.position) { %><%= value.title %><% } %><% }) %></span></div>
  <select class="<%= classes.values %> is-select" data-option-bind="<%= option.id %>">
    <% _.forEach(values, function (value){ %>
      <option <%= value.controls %> <%= value.state %>>
        <%= value.title %>
      </option>
    <% }) %>
  </select>
</div>
</script>
<script type="text/template" data-template-id="option-span">
<div class="<%= classes.option %> is-span">
  <div class="<%= classes.label %>"><%= title %>: <span class="option-label-value"><% _.forEach(values, function (value){ %><% if (option.selected == value.position) { %><%= value.title %><% } %><% }) %></span></div>
  <div class="<%= classes.values %> is-span">
    <% _.forEach(values, function (value){ %>
      <button class="<%= value.classes.all %> is-span" <%= value.controls %> <%= value.state %>>
        <%= value.title %>
      </button>
    <% }) %>
  </div>
</div>
</script>
<script type="text/template" data-template-id="option-radio">
<div class="<%= classes.option %> is-radio">
  <div class="<%= classes.label %>"><%= title %>: <span class="option-label-value"><% _.forEach(values, function (value){ %><% if (option.selected == value.position) { %><%= value.title %><% } %><% }) %></span></div>
  <div class="<%= classes.values %> is-radio">
    <% _.forEach(values, function (value){ %>
      <label class="<%= value.classes.all %> is-radio">
        <input class="<%= value.classes.state %>" type="radio" name="<%= handle %>" <%= value.controls %> <%= value.state %>>
        <span><%= value.title %></span>
      </label>
    <% }) %>
  </div>
</div>
</script>
<script type="text/template" data-template-id="option-color">
<div class="<%= classes.option %> is-image">
  <div class="<%= classes.label %>"><%= title %>: <span class="option-label-value"><% _.forEach(values, function (value){ %><% if (option.selected == value.position) { %><%= value.title %><% } %><% }) %></span></div>
  <div class="<%= classes.values %> is-image">
    <% _.forEach(values, function (value){ %>
      <button class="<%= value.classes.all %> is-image" <%= value.controls %> <%= value.state %>>
        <% if (fileUrl[value.name]){ %>
          <span style="background-image: url(<%= fileUrl[value.name] %>);"></span>
        <% }else{ %>
          <span class="is-empty"><span class="fas fa-question"></span></span>
        <% } %>
      </button>
    <% }) %>
  </div>
</div>
</script>
<script type="text/template" data-template-id="option-image">
<div class="<%= classes.option %> is-image">
  <div class="<%= classes.label %>"><%= title %>: <span class="option-label-value"><% _.forEach(values, function (value){ %><% if (option.selected == value.position) { %><%= value.title %><% } %><% }) %></span></div>
  <div class="<%= classes.values %> is-image">
    <% _.forEach(values, function (value){ %>
      <button class="<%= value.classes.all %> is-image" <%= value.controls %> <%= value.state %>>

          <% if (fileUrl[value.name]){ %>
            <span style="background-image: url(<%= fileUrl[value.name] %>);"></span>
          <% }else{ %>
            <span class="is-empty"><span class="fas fa-question"></span></span>
          <% } %>

      </button>
    <% }) %>
  </div>
</div>
</script>
    <div class="hidden" hidden>
<!--noindex-->

  <div class="js-message-bonuses" data-title="Описание бонусной программы">
    <p>Lorem ipsum dolor sit amet, ne mei eripuit aliquam contentiones, tota dicat detraxit ne mei. Eam an quod affert nominati, et democritum rationibus appellantur quo, qui nullam melius fabulas ne. Liberavisse disputationi comprehensam no his, ex veritus posidonium his, has at iudico postea. Per odio accumsan ex. At has augue dicunt tritani.</p>
<p>Per te volumus accumsan eleifend. Elit solet percipit mea ut. Pro at adhuc facete explicari, his id scripta insolens evertitur, minim comprehensam vix ne. Vis harum mucius at, eu dicta neglegentur eam, ea utamur epicuri scribentur eos.</p>
<p>At assum elitr nullam nec, semper meliore ea per. At nemore alterum eam, eu aeque munere nam, no populo omittantur per. Te nihil petentium instructior mea, quo te erant sententiae, tale autem ridens ne vis. Et his quaeque scaevola assentior, in facer deseruisse expetendis duo.</p>
<p>No nulla putent eos, ne dolore tacimates patrioque pri, melius laoreet ad usu. Et vis natum suavitate consectetuer, ei dicit incorrupte usu. Eam suas facilisis ea, apeirian conceptam usu ne, et mei paulo postulant sadipscing. Ei fugit patrioque eos, aeque sapientem consectetuer ex usu. Sit nobis consulatu ne, vix ex ridens eirmod, an appetere scriptorem nam. Aeterno dissentiunt vim no, usu ex sumo doctus.</p>
<p>At impedit cotidieque necessitatibus has, causae noluisse invidunt nam ea. Id vim soluta antiopam. Brute dolore probatus vis in, sea no brute affert instructior. Error homero moderatius est an, est ad duis ponderum, te legere tamquam ius. Dolorem partiendo ei nec. Per in graece sensibus volutpat, sit ex labores nonumes philosophia, invenire intellegebat duo at.</p>
  </div>

<div class="js-message-callback" data-title="Обратный звонок">
  <p>Укажите ваше имя и&nbsp;контактный телефон. В&nbsp;самое ближайшее время наш оператор вам&nbsp;перезвонит.</p>
  <form action="/client_account/feedback" class="js-feedback" data-alert="Заявка успешно отправлена. Мы&nbsp;свяжемся с&nbsp;вами в&nbsp;самое ближайшее время.">
    <input name="feedback[subject]" type="hidden" value="Обратный звонок">
    <input name="feedback[content]" type="hidden" value="Обратный звонок">
    <input name="feedback[from]" type="hidden" value="support@prosales.studio">
    <div class="form">
      <div class="form-item">
        <label>Ваше имя <span class="required">*</span></label>
        <input type="text" name="feedback[name]" class="input input--medium input--block" required>
      </div>
      <div class="form-item">
        <label>Контактный телефон <span class="required">*</span></label>
        <input type="tel" name="feedback[phone]" class="input input--medium input--block" required>
      </div>
      <div class="form-item form-item-submit">
        <div class="row">
          <div class="col-auto">
            <button type="submit" class="button button--secondary">Отправить</button>
          </div>
          <div class="col">
            <div class="form-item-privacy"><p>Нажимая на кнопку &laquo;Отправить&raquo; вы принимаете условия <a rel="noopener noreferrer" href="/page/oferta" target="_blank">Публичной оферты</a>.</p></div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="js-message-review" data-title="Оставьте свой отзыв">
  <p>Заполните все&nbsp;обязательные поля и&nbsp;мы&nbsp;обязательно разместим ваш&nbsp;отзыв после его&nbsp;проверки.</p>
  <form action="/client_account/feedback" class="js-feedback" data-alert="Отзыв успешно отправлен. Просле проверки мы&nbsp;обязателно разместим&nbsp;его.">
    <input name="feedback[subject]" type="hidden" value="Отзыв покупателя">
    <input name="feedback[content]" type="hidden" value="Отзыв покупателя">
    <div class="form">
      <div class="form-item">
        <label>Ваше имя <span class="required">*</span></label>
        <input type="text" name="feedback[name]" class="input input--medium input--block" required>
      </div>
      <div class="form-item">
        <label>Электронная почта <span class="required">*</span></label>
        <input type="email" name="feedback[from]" class="input input--medium input--block" required>
      </div>
      <div class="form-item">
        <label>Контактный телефон</label>
        <input type="tel" name="feedback[phone]" class="input input--medium input--block">
      </div>
      <div class="form-item">
        <label>Оценка оценка</label>
        <div class="review-rating js-rating">
          <input type="hidden" value="" class="js-feedback-fields" data-rating-input data-title="Оценка">

              <span class="rating-item rating-item--star rating-item--unactive" data-rating-star data-rating-rate="1"><span class="fas fa-star"></span></span><span class="rating-item rating-item--star rating-item--unactive" data-rating-star data-rating-rate="2"><span class="fas fa-star"></span></span><span class="rating-item rating-item--star rating-item--unactive" data-rating-star data-rating-rate="3"><span class="fas fa-star"></span></span><span class="rating-item rating-item--star rating-item--unactive" data-rating-star data-rating-rate="4"><span class="fas fa-star"></span></span><span class="rating-item rating-item--star rating-item--unactive" data-rating-star data-rating-rate="5"><span class="fas fa-star"></span></span>

          <span class="rating-item rating-item--reset" data-rating-reset><span class="far fa-times-circle"></span></span>
        </div>
      </div>
      <div class="form-item">
        <label>Текст отзыва <span class="required">*</span></label>
        <textarea cols="32" rows="4" class="input input--medium input--block js-feedback-fields" required data-title="Отзыв"></textarea>
      </div>
      <div class="form-item form-item-submit">
        <div class="row">
          <div class="col-auto">
            <button type="submit" class="button button--secondary">Отправить</button>
          </div>
          <div class="col">
            <div class="form-item-privacy"><p>Нажимая на кнопку &laquo;Отправить&raquo; вы принимаете условия <a rel="noopener noreferrer" href="/page/oferta" target="_blank">Публичной оферты</a>.</p></div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

  <div class="js-message-options_description" data-title="Как определить размер?" data-handle="razmer">
    <p>Привет! Здесь можно разместить таблицу размеров. Редактируется в разделе Блоки.</p>
  </div>

<!--/noindex-->
</div>
    <script>
Site = _.merge({}, Site, {
  current_collections: {},
  locale: 'ru',
  hide_items_out_of_stock: false,
  client: false,
  account: {
    id: 533563,

      bonus_system: {
        bonus_percent: 5,
        max_discount: 10,
        ratio: 1.0,
        registration_bonus: 500
      },

  }
});
  if(!fileUrl){
			var fileUrl = {};
		}
    {% if product %}
      {%for block in block_lists.prodcolors.blocks%}
						  fileUrl['{{block.title | downcase }}'] = encodeURI('{{block.image}}');
      {%endfor%}
    {%endif%}

Products.setConfig({
  showVariants: true,
  hideSelect: true,
  initOption: true,
  useMax: false,
  fileUrl: (typeof fileUrl == 'undefined') ? {} : fileUrl,
  filtered: true,
  selectUnavailable: true,
  decimal: {
    kgm: 1,
    dmt: 1
  },
  options: {
    'цвет': 'option-color',
    'default': 'option-span'
  }
});
</script>
<script src="{{'plugins.js' | asset_url}}"></script>
<script src="{{'theme.js' | asset_url}}"></script>
  </div>
<script>(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter50262199 = new Ya.Metrika2({ id:50262199, clickmap:true, trackLinks:true, accurateTrackBounce:true, ut:"noindex", ecommerce:"dataLayer" }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/tag.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks2");</script><noscript><div><img src="https://mc.yandex.ru/watch/50262199?ut=noindex" style="position:absolute;left:-9999px;" alt=""/></div></noscript><iframe src="https://www.insales.ru/signup/9238d04d6" width="0" height="0" style="position:absolute;z-index:-5;left:-100px;top:-100px;width:0px;height:0px;overflow:hidden;border:none;"></iframe>
<script type="text/javascript">!function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src="https://vk.com/js/api/openapi.js?159",t.onload=function(){VK.Retargeting.Init("VK-RTRG-290611-bASN7"),VK.Retargeting.Hit()},document.head.appendChild(t)}();</script><noscript><img src="https://vk.com/rtrg?p=VK-RTRG-290611-bASN7" style="position:fixed; left:-999px;" alt=""/></noscript>
<div class="m-modal m-modal--checkout" data-auto-activate="" id="insales-quick-checkout-dialog"><div class="m-modal-wrapper"><form id="quick_checkout_form" data-address-autocomplete="https://kladr.insales.ru" action="/orders/create_with_quick_checkout.json" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><button class="m-modal-close" data-modal="close"></button><div class="m-modal-heading">Заказ в один клик</div><div class="m-modal-errors"></div><input id="shipping_address_country" type="hidden" value="RU" /><div class="m-input  "><label for="client_name" class="m-input-label">Контактное лицо (ФИО):</label><input class="m-input-field" placeholder="" type="text" id="client_name" name="client[name]" value="" /></div><div class="m-input m-input--required "><label for="client_phone" class="m-input-label">Контактный телефон:</label><input class="m-input-field" placeholder="Например: +7(926)111-11-11" type="tel" id="client_phone" name="client[phone]" value="" /></div><div class="m-input  m-input--checkbox"><label for="client_consent_to_personal_data" class="m-input-label">Согласие на обработку персональных данных</label><input type="hidden" name="client[consent_to_personal_data]" value="0" id="" class="" /><input type="checkbox" name="client[consent_to_personal_data]" value="1" id="client_consent_to_personal_data" checked="1" /><span></span><div class="m-input-caption">Настоящим подтверждаю, что я ознакомлен и согласен с условиями <a href='/page/oferta' target='_blank'>оферты и политики конфиденциальности</a>.</div></div><div class="m-input  "><label for="shipping_address_full_locality_name" class="m-input-label">Населенный пункт:</label><input class="m-input-field" placeholder="" type="text" id="shipping_address_full_locality_name" name="shipping_address[full_locality_name]" value="" /></div><div class="m-modal-footer"><button class="m-modal-button m-modal-button--checkout button--checkout" type="submit">Заказать</button></div></form></div></div>
<style>
  .popup {
    position: unset;
  }
</style>
</body>
</html>
